In [2]:
import pandas as pd
import numpy as np
import tarfile
import os.path
import threading
import os
import time

In [5]:
pbp = pd.read_csv(r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NFL PxP Data\NFL Play by Play 2009-2018 (v5).csv.gz', compression = 'gzip')
pbp

C:\Users\Jake\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449366,4059,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449367,4081,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449368,4106,2018121700,CAR,NO,CAR,home,NO,CAR,61.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449369,4128,2018121700,CAR,NO,NO,away,CAR,CAR,39.0,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
449370,4150,2018121700,CAR,NO,NaN,NaN,NaN,CAR,NaN,2018-12-17,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
passer = pd.read_csv(r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NFL PxP Data\passer.csv.gz', compression = 'gzip')
passer

,passId,playId,teamId,playerId,passPosition,passOutcomes,passDirection,passDepth,passLength,passAtt,passComp,passTd,passInt,passIntTd,passSack,passSackYds,passHit,passDef,passNull
0,15154145,15088467,4500,20140062,QB,complete,left,short,0,1,1,0,0,0,0,0,0,1,0
1,15154146,15088472,4500,20140062,QB,complete,middle,short,-1,1,1,0,0,0,0,0,0,0,0
2,15154147,15088473,4500,20140062,QB,complete,right,short,-2,1,1,0,0,0,0,0,0,0,0
3,15154148,15088474,4500,20140062,QB,incomplete,middle,short,5,1,0,0,0,0,0,0,0,0,1
4,15154149,15088475,4500,20140062,QB,incomplete,left,short,6,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397260,212581,30435,3200,20000199,QB,interception,NaN,NaN,0,1,0,0,1,0,0,0,1,0,0
397261,212586,30449,3200,20000199,QB,incomplete,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0
397262,212587,30451,3200,20000199,QB,complete,NaN,NaN,0,1,1,0,0,0,0,0,0,0,0
397263,212588,30453,3200,20000199,QB,sack,NaN,NaN,0,0,0,0,0,0,1,-8,0,0,0
397264,212589,30454,3200,20000199,QB,incomplete,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0

In [9]:
pass_def = pd.read_csv(r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NFL PxP Data\passDef.csv.gz', compression = 'gzip')
pass_def

       passDefId    playId  teamId  playerId passDefPosition  passDefNull
0         520001        10    3800  20010064               S            0
1         520002        14    3800  20010064               S            0
2         520003        18    3200  20030036              DB            0
3         520004        36    3200  20030036              DB            0
4         520005        46    3200  19950023              CB            0
...          ...       ...     ...       ...             ...          ...
48167   15401859  15079813    2510  20180679              DB            0
48168   15401903  15081987    3900  20100007              CB            0
48169   15401904  15082017     610  20180462              CB            0
48170   15401905  15083527    2510  20180679              DB            0
48171   15401906  15084428     200  20160052              LB            0

[48172 rows x 6 columns]

,passId,playId,teamId_x,playerId_x,passPosition,passOutcomes,passDirection,passDepth,passLength,passAtt,...,passSack,passSackYds,passHit,passDef,passNull,passDefId,teamId_y,playerId_y,passDefPosition,passDefNull
0,15154149,15088475,4500,20140062,QB,incomplete,left,short,6,1,...,0,0,0,0,0,15400825,2310,20140557,DT,0
1,15154160,15088497,4500,20140062,QB,interception,right,deep,16,1,...,0,0,0,0,0,15400826,2310,20140102,DB,0
2,15154207,15088592,4500,20140062,QB,incomplete,right,short,0,1,...,0,0,0,0,0,15400833,2310,20160037,DE,0
3,15154217,15088608,4500,20140062,QB,incomplete,right,short,9,1,...,0,0,0,0,0,15400834,2310,20160037,DE,0
4,15154218,15088609,4500,20140062,QB,incomplete,middle,short,7,1,...,0,0,0,0,0,15400835,2310,20160084,CB,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48167,212534,30317,2200,19980001,QB,interception,NaN,NaN,0,1,...,0,0,0,0,0,521717,3200,19960086,LB,0
48168,212550,30368,2200,19980001,QB,incomplete,NaN,NaN,0,1,...,0,0,0,0,0,521718,3200,20030120,CB,0
48169,212585,30446,2200,19980001,QB,incomplete,NaN,NaN,0,1,...,0,0,0,0,0,521720,3200,19950022,CB,0
48170,212581,30435,3200,20000199,QB,interception,NaN,NaN,0,1,...,0,0,1,0,0,521719,2200,20000547,DB,0
48171,212589,30454,3200,20000199,QB,incomplete,NaN,NaN,0,1,...,0,0,0,0,0,521721,2200,20010037,DB,0